*{
    margin: 0;
    padding: 0;
}
.main-headidng{
    font-size: 28px;
    font-weight: 700;
    color: cadetblue;
}
.olo{
    background-color: #cccccc;
    background-image: url("../images/header_bg.png");
    height: 200px;
    background-size: cover;
}