* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}

.primary-color {
    color: red
}

nav {
    display: flex;
    justify-content: space-between;
    padding:  35px 220px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 50px;
    list-style: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    
}
.primary-btn{
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 25px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;

}
nav h2{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    ;
}
/* header banner css */
header{
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}
.header-banner{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 40px;
}
.header-banner h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}
.header-banner h3{
    font-weight: 600;
    font-size: 45px;
}
.header-banner h1,.header-banner h3,.header-banner p{
    margin-bottom: 20px;
}
.header-banner p{
    font-size: 18px;
    color: #757575;
}
button{
    border: 0px;
}
.primary-btn.contact{
    background-color: #fff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 15px;
}
 /* about section css */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .margin-top{
    margin-top: 80px;
 }
 .about_sectin_area{
    background-color: #FFF8F3;
    padding: 120px 100px;
    
 }

 .section_title p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
 }
 .section_title h3{
    color: #181818;
    margin-bottom: 30px;
 }
 .section_title p{
    margin-bottom: 40px;
 }
.about_section_info{
    display: flex;
    justify-content: space-between;
}
.section_title{
    font-size: 20px;
    color: #757575;
    text-align: center;
}
.about_info h4{
    color: #474747;
}
.project_description{
   margin: 0 100px;
}
/* .single_project h4{
    font-size: 20px;
    color: #181818;
    font-weight: 700;
    margin: 20px 0px;

}
.project_list{
    display: flex;
    gap: 20px;
}
.single_project{
    padding: 20px;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 6%)
}
.single_project h4{
    font-size: 30px;
    font-weight: 700;
    color: #181818
    ;
}
.single_project p{
    font-size: 16px;
    color: #757575;
} */

.skills-container
{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 10px 50px rgb(212, 211, 211);
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    font-size: 18px;
    color: #757575;
} 


